<div class="mb-3">
  <h2>
      Produtos
    <a routerLink="/cart"
      ><img src="assets/imgs/cart.png" alt="Ver carrinho"
    /></a>
  </h2>

  <form class="p-3 border bg-light">
    <label for="product">
      <span>Nome:</span>
    </label>
    <input
      type="text"
      id="name"
      placeholder="Água"
      name="name"
      [(ngModel)]="product.name"
    /><br />

    <label for="price">
      <span>Preço:</span>
    </label>
    <input
      type="number"
      min="1"
      max="1000"
      step="0.01"
      id="price"
      placeholder="R$ 00,00"
      name="price"
      [(ngModel)]="product.price"
    /><br />

    <button
      type="submit"
      class="btn btn-outline-success"
      (click)="registerProducts()"
    >
      Registrar produto
    </button>
    <br />
    <div class="dn-col-6 mx-auto">
      <button
        class="btn btn-outline-success"
        (click)="showProducts()"
        title="Mostrar Produtos Cadastrados"
      >
        Mostrar todos os produtos
      </button>
    </div>
  </form>

  <div class="p-3 border bg-light">
    <p class="h3 text-center">Produtos Cadastrados</p>

    <table class="table table-hover">
      <thead>
        <tr class="table-active">
          <th>ID</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>
            <button (click)="updateProducts(product.id)">Atualizar</button>
            <button (click)="addCart(product.id)">Add Carrinho</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <footer></footer>
  </div>
</div>
