<div>

<form (ngSubmit)="registerInput()">

  <label for="carro">Modelo do carro:</label>
  <input type="text" id="carro" placeholder="modelo" [(ngModel)]="car" name="car"/><br>
  <label for="entrada">Entrada:</label>
  <input type="text" id="entrada" placeholder="00:00" [(ngModel)]="input" name="input"/><br>
  <label for="saida">Saída:</label>
  <input type="text" id="saida" placeholder="00:00" [(ngModel)]="output" name="output"/><br>
  <button type="submit">Registrar</button>

</form>

</div>
