h2{
  display: block;
  text-align: center;
  padding-top: 30px;
}

table {
  border-collapse:collapse;
  border: 1px solid black;
  width: 40%;
  margin: 0 auto;


}

th {
  background-color: #04AA6D;
  border-bottom: 1px solid black;
  min-width: 30%;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  color: white;
}

tbody{
  text-align: center;
  text-transform: uppercase;
}
